@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

td, th {
    vertical-align: middle !important;
    text-align: center !important;
}

.color-cell {
    background-color: rgb(211, 68, 68) !important;
}